*{
    margin: 0;
    padding: 0;
}

body{
    background: #242424;
    color: #ffffffde;
    font-family: Inter,system-ui,Avenir,Helvetica,Arial,sans-serif;
}

header{
    text-align: center;
    padding-top: 2em;
}

ul{
    margin-left: 1.5em;
}

main{
    width: 80%;
    margin: 0 auto;
    margin-top: 2em;
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
}

main div h3{
    font-size: 1.5em;
}

main div p{
    font-size: 1em;
}

footer{
    margin-top: 2em;
    /* width: 100%; */
    background: #000;
    text-align: center;
    padding: 10px;
}

body::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    background: transparent;        /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #fff;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid #242424;  /* creates padding around scroll thumb */
  }

@media screen and (max-width: 700px) {
    main{
        width: 90%;
    }
}
